arelle
attrs
backcall
beautifulsoup4
certifi
chardet
decorator
fake-useragent

#idna compatible version
idna==2.9;python_version=="3.5"
idna>=3.0;python_version>="3.6"

ipython-genutils
isodate

# numpy compatible version
numpy==1.22.0;python_version=="3.5"
numpy>=1.19.5;python_version>="3.6"

# pandas compatible version
pandas<=1.1.5;python_version<="3.6"
pandas>=1.2.0;python_version>="3.7"

pickleshare
py
python-dateutil
pytz
requests
six
soupsieve
tqdm
traitlets
urllib3
wcwidth
lxml
html5lib
openpyxl
halo
xmltodict
appdirs
