arelle-release
attrs
backcall
beautifulsoup4
certifi
chardet
decorator
fake-useragent>=1.0
idna>=3.0
ipython-genutils
isodate
numpy>=1.19.5
pandas>=1.2.0
pickleshare
py
python-dateutil
pytz
requests
six
soupsieve
tqdm
traitlets
urllib3
wcwidth
lxml
html5lib
openpyxl
halo
xmltodict
appdirs
