sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
numpydoc
arelle
attrs
backcall
beautifulsoup4
certifi
chardet
decorator
fake-useragent
idna
ipython-genutils
isodate
numpy >=1.17.0
pandas
pickleshare
py
python-dateutil
pytz
requests
six
soupsieve
tqdm
traitlets
urllib3
wcwidth
lxml
html5lib
openpyxl
halo
xmltodict
appdirs